@import '../../styles/shared.scss';

// Container for button
.container {
  text-align: center;
}

// Add button
.button {
  min-width: 150px;
  height: 40px;
  border: 0px solid transparent;
  border-radius: 4px;

  color: $clear-color;
  background-color: $main-color;

  box-shadow: $main-shadow;

  opacity: 1;

  transition: opacity $transition-duration $timing-function;

  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.8;

    transition: opacity $transition-duration $timing-function;
  }

  &:disabled {
    background-color: $inactive-color;
    cursor: auto;
  }
}
