@import '../../styles/shared.scss';

// Navigation list
.list {
  display: flex;

  margin-bottom: 15px;

  @media screen and (min-width: $to-tablet) {
    margin-bottom: 0;
  }
}

// Navigation item
.item {
  &:not(:last-child) {
    margin-right: 20px;
  }
}

// Link for navigation item
.link {
  display: block;

  font-weight: 500;
  text-decoration: none;

  color: $secondary-color;

  transition: color $transition-duration $timing-function;

  &:hover,
  &:focus {
    color: $main-color;
    transition: color $transition-duration $timing-function;
  }

  &--active {
    color: $main-color;

    text-decoration: none;
  }

  @media screen and (min-width: $to-tablet) {
    padding: 20px 0;
  }
}
