.form {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 15px;
  padding: 15px;
  border: 1px solid #d4d4d4;
  border-radius: 4px;

  @media screen and (min-width: 768px) {
    width: 350px;
  }
}

.label {
  display: flex;
  flex-direction: column;

  margin-bottom: 15px;

  color: #333232;

  &__text {
    margin-bottom: 5px;
  }
}

.input {
  padding: 11px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    outline: transparent;
    border: 1px solid #2196f3;
  }
}
