// 404 page container
.container {
  text-align: center;
}

// Image container
.thumb {
  margin: 0 auto;

  max-width: 200px;

  @media screen and (min-width: 480px) {
    max-width: 320px;
  }
}

// Main image on page
.image {
  max-width: 100%;
  margin-bottom: 15px;

  animation: spin 12s infinite linear;
}

// Error description
.text {
  margin-bottom: 25px;
}

// Home button
.button {
  padding: 10px;

  border: 0px solid transparent;
  border-radius: 4px;

  text-decoration: none;

  color: #fff;
  background-color: #2196f3;

  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    opacity: 0.8;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:disabled {
    background-color: gray;
    cursor: auto;
  }
}

// Animation for image
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
