@import '../../styles/shared.scss';

// Home page container
.container {
  text-align: center;

  margin-bottom: 25px;
}

// Container for image
.thumb {
  margin: 0 auto 15px;

  width: 200px;
}

// Main image
.image {
  max-width: 100%;
  margin-bottom: 15px;

  animation: spin 12s infinite linear;
}

// Home page app description
.text {
  margin-bottom: 25px;
}

// Button Try it now
.button {
  padding: 10px;

  border: 0px solid transparent;
  border-radius: 4px;

  text-decoration: none;

  color: $clear-color;
  background-color: $main-color;

  box-shadow: $main-shadow;

  opacity: 1;
  transition: opacity $transition-duration $timing-function;

  &:hover,
  &:focus {
    opacity: 0.8;

    transition: opacity $transition-duration $timing-function;
  }

  &:disabled {
    background-color: $inactive-color;
    cursor: auto;
  }
}

// Animation from image
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
