// User menu navigation container
.profile {
  display: flex;
  align-items: center;

  margin-bottom: 10px;

  @media screen and (min-width: 767px) {
    margin-bottom: 0;
  }
}

// User avatar container
.thumb {
  width: 32px;
  margin-right: 10px;
}

// User avatar container
.avatar {
  width: 100%;

  border-radius: 50%;

  opacity: 1;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.8;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

// User greetings text
.welcome {
  margin-right: 10px;
}

// User email
.email {
  font-weight: 500;
}

// Logout button
.button {
  padding: 5px;
  border: 0px solid transparent;
  border-radius: 4px;

  color: #fff;
  background-color: gray;

  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);

  opacity: 0.8;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 1;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
