// Footer styles
.text {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px 0;

  color: #4c527d;
}

.heart {
  margin: 0 5px;

  animation-name: heartbeat;
  animation-duration: 2500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  cursor: default;
}

.link {
  text-decoration: none;
  color: currentColor;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: orangered;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.name {
  margin-left: 5px;
}

@keyframes heartbeat {
  0% {
    transform: scale(0.75);
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.75);
  }
  60% {
    transform: scale(1);
  }
  80% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(0.75);
  }
}
